<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-3">Ubicación</h1>
        <h2 class="featurette-heading"><span class="text-muted">San Mateo Atenco </span>, Edo. de México.</h2>
      </div>

      <div class="col-md-6">
        <p class="indent">Nosotros estamos ubicados en el municipio de San Mateo Atenco,
          en el Estado de México, cerca de la cabecera municipal y de la Parroquia de San Mateo,
          por lo que ofrece fácil acceso a las zapaterías físicas que están en esta página web.</p>
        <ul>
          <li>A 5 minutos de Toluca</li>
          <li>Aproximadamente a 45 minutos de la Ciudad de México</li>
          <li>A 10 minutos del parque nacional La Marqueza</li>
        </ul><br>
        <p>Entre el municipio de Lerma de Lerdo y Toluca.</p>
        <div class="clear20"></div>
        <p>Av. Venustiano Carranza s/n, Centro, C.P. 52100 San Mateo Atenco, Méx.</p>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15065.87491984335!2d-99.5324007!3d19.2619721!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7fbe8300ec738900!2sTu+Plaza+Naranja!5e0!3m2!1ses!2smx!4v1543030661354" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-12">
        <hr>
        <h2 class="featurette-heading"><span class="text-muted">Mapa de Sitio </span> Tu Plaza Naranja</h2>

        <table class="table text-center mercado-table">
          <tbody>
            <tr>
              <td colspan="10" class="bg-calle">Av. Independencia</td>
            </tr>
            <tr>
              <td rowspan="21" class="bg-calle limit-width">
                <p class="vertical-text">
                  <span>V.</span>
                  <span>C</span>
                  <span>a</span>
                  <span>r</span>
                  <span>r</span>
                  <span>a</span>
                  <span>n</span>
                  <span>z</span>
                  <span>a</span>
                </p>
              </td>
              <td class="bg-locales">Zapaterías</td>
              <td rowspan="20" class="bg-pasillo"></td>
              <td class="bg-locales">Zapaterías</td>
              <td rowspan="20" class="bg-pasillo"></td>
              <td class="bg-locales">Zapaterías</td>
              <td rowspan="20" class="bg-pasillo"></td>
              <td class="bg-locales">Zapaterías</td>
              <td rowspan="17" class="limit-width bg-pasillo">
                <p class="vertical-text">
                  <span>P</span>
                  <span>a</span>
                  <span>s</span>
                  <span>i</span>
                  <span>l</span>
                  <span>l</span>
                  <span>o</span>
                  <span>8</span>
                </p>
              </td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-pasillo">Pasillo 1</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-pasillo">Pasillo 2</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-pasillo">Pasillo 3</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr><tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-pasillo">Pasillo 4</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-pasillo">Pasillo 5</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-pasillo">Pasillo 6</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="limit-width bg-cabina"></td>
              <td rowspan="4" class="bg-wc"></td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
            <tr>
              <td colspan="8" class="bg-pasillo">Pasillo 7</td>
            </tr>
            <tr>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
              <td class="bg-locales">Zapaterías</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Ubicación</th>
              <th>Contacto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productor of zapaterias; first as isFirst">
              <td><img class="mr-3" data-src="/assets/images/logos/{{productor.url}}.png" style="width: 64px;" alt="{{productor.nombre}}"></td>
              <td>{{productor.nombre}}</td>
              <td>{{productor.ubicacion}}</td>
              <td>{{productor.responsable}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
