<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" *ngFor="let productor of zapaterias; first as isFirst; index as i;" [class.active]="isFirst" data-slide-to="i"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let productor of zapaterias; first as isFirst" [class.active]="isFirst">
      <img class="d-block w-100" data-src="{{globals.bucket}}/assets/images/imagenes-carrusel/carrusel-{{productor.url}}.jpg" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
<!--
<app-productores></app-productores>
-->
<main role="main">
  <div class="album py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow card-img">
            <a href="/categoria/damas" class="card-link">
            <h2 class="card-header text-center no-border">Damas</h2>
              <div class="view overlay hm-zoom">
                <img class="card-img-top" data-src="{{globals.bucket}}/assets/images/imagenes-categorias/cuadro-mujer.jpg" alt="Categoría Mujer">
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow card-img">
            <a href="/categoria/caballeros" class="card-link">
            <h2 class="card-header text-center">Caballeros</h2>
              <div class="view overlay hm-zoom">
                <img class="card-img-top" data-src="{{globals.bucket}}/assets/images/imagenes-categorias/cuadro-hombre.jpg" alt="Categoría Hombre">
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow card-img">
            <a href="/categoria/ninos" class="card-link">
            <h2 class="card-header text-center">Niñ@s</h2>
              <div class="view overlay hm-zoom">
                <img class="card-img-top" data-src="{{globals.bucket}}/assets/images/imagenes-categorias/cuadro-ninos.jpg" alt="Categoría Niños">
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <hr>
          <h2 class="text-center font-italic mb-3">#EligeTuEstilo</h2>
        </div>
        <div class="col-md-4" *ngFor="let zapatoItem of productos | paginate: { itemsPerPage: 6, currentPage: p }">
          <div class="card mb-4 box-shadow">
            <a href="producto/{{zapatoItem.marca}}/{{zapatoItem.id}}">
              <img class="card-img-top" data-src="{{globals.bucket+zapatoItem.album}}/1.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
              <div class="d-flex justify-content-end">
                <a class="badge badge-light" *ngFor="let categoria of zapatoItem.categorias" href="/categoria/{{categoria}}"> #{{categoria}} </a>
              </div>
              <p class="card-text">{{zapatoItem.modelo}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="zapateria/{{zapatoItem.marca}}" class="badge badge-secondary">Ir a la zapatería</a>
                </div>
                <small class="text-muted">{{zapatoItem.price | currency}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            class="pagination"
          >
          </pagination-controls>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
          <h2 class="text-center font-italic mb-3">#ZapateroATusZapatos</h2>
        </div>
        <div class="col-md-4 py-3" *ngFor="let productor of zapaterias; first as isFirst">
          <a href="/zapateria/{{productor.url}}">
          <div class="view overlay hm-zoom">
            <img data-src="{{globals.bucket}}/assets/images/logos/{{productor.url}}.png" class="img-fluid " alt="{{productor.url}}">
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
