<header>

<nav class="navbar navbar-expand-lg navbar-light">
  <a href="#" class="navbar-brand d-flex align-items-center">
    <strong class="hash">#</strong>SomosZapateros
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/categoria/damas">Damas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/categoria/caballeros">Caballeros</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/categoria/ninos">Niños</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Zapaterías</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
</header>

<router-outlet></router-outlet>

<footer class="px-5 py-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <p><strong class="hash">#</strong>SomosZapateros</p>
      <small class="d-block mb-3">© 2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Categorías</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Damas</a></li>
        <li><a href="#">Caballeros</a></li>
        <li><a href="#">Niñ@s</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Conócenos</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Ubicación</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a href="https://www.facebook.com/somoszapateros/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
        <li><a href="https://www.instagram.com/somoszapateros/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</footer>