/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Fedra Sans';
    src: url('assets/fonts/fedra-sans/FedraSansBook.eot');
    src: url('assets/fonts/fedra-sans/FedraSansBook.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/fedra-sans/FedraSansBook.woff2') format('woff2'),
        url('assets/fonts/fedra-sans/FedraSansBook.woff') format('woff'),
        url('assets/fonts/fedra-sans/FedraSansBook.ttf') format('truetype'),
        url('assets/fonts/fedra-sans/FedraSansBook.svg#FedraSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --hmfire: #d12329;
  --hmgold: #c5b97d;
  --hmgoldlight: #e4dbc0;
  --hmcharcoal: #433e3d;
  --hmcharcoallight: #bbb9b7;
}

body {
  	font-family: 'Fedra Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
    color: #433e3d;
}

strong{
	font-weight: bold;
}

.bold{
	font-weight: bold;
}

.bg-handmade {
  background-color: #e4dbc0 !important;
}

.bg-handmade-light{
	background-color: #EBEBEB !important;
}

main{
  background-color: #f8f8f8 !important;
}

hr{
  color: #433e3d;
}